
# Python -  Data Science

## Listas

## Tuplas

## Dicionários

In [15]:
nomes = ['Rafael','Maria', 'Ana']  # Lista - modificável
idades = [10,20,15] # Lista - modificável

sexo = ('M', 'F', 'O') # Tupla - NÃO modificável (não poderá ser alterada ou adicionar valores)

cadastro = {'nomes': nomes,
            'idades': idades,
            'cidade': ['A','B','C']} # Dicionário - Indice modificável

In [16]:
print(nomes[0])
print(idades[0])
print(sexo[0]) # Uso de colchetes para acessar a tupla
print(cadastro['nomes'][0])
print(cadastro['idades'])
print(sum(cadastro['idades'])) # Soma de idades

Rafael
10
M
Rafael
[10, 20, 15]
45

  ## For

  ## While

  ## If

In [18]:
# for
for nome in nomes:
  print(nome)

print('\n')

for idade in idades:
  if idade % 2 == 0: # Se for par
    print(idade)

print('\n')

for i in range(0,5):
  print(i)

Rafael
Maria
Ana


10
20


0
1
2
3
4

In [19]:
# while
i = 0
idade = idades[i]
while idade <= 10:
  print(idade)
  i = i + 1
  idade = idades[i]

10

In [20]:
# comandos inline

soma = 0
for i in range(0,100):
  if i%2 == 0:
    soma = soma + i
print(soma)

sum([i if i%2==0 else 0 for i in range(0,100)]) # Mesmo código, em uma unica linha

2450

2450

## Funções

In [23]:
# import minha_funcao - caso tenha essa funcao em outro arquivo chamado minha_funcao.py (só funciona fora do colab)

def faixa_idade(idade):
  if idade <= 12:
    return 'Criança'
  elif idade < 18:
    return 'Adolescente'
  elif idade <= 80:
    return 'Adulto'
  else:
    return 'Idoso'

def soma_quadrados(n1,n2):
  return n1**2 + n2**2


faixa_idade(int(input(('Digite a Idade: '))))
soma_quadrados(2,4)

20

## Array - Biblioteca Numpy
- Somente tenho números nos meus dados e preciso fazer operações matemáticas complexas com esses numeros

## DataFrame - Biblioteca Pandas
- Meus dados possuem numeros e outros caracteres e/ou as principais operações que preciso fazer são de agrupamentos ou filtros. DataFrames, normalmente, são estruturaas mais fáceis de se trabalhar, pois possuem uma estrutura de tabela que facilita o entendimento dos doados e do código.

# Estudo de Caso
- Fazer conexões entre Python e tabela
- Correlacionar tabelas
- Trabalhar dados

In [3]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.0.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 9.3 MB/s eta 0:00:00:00:010:01m
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 KB 39.0 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in /home/matheus/.local/lib/python3.10/site-packages (from pandas) (1.25.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/matheus/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.0.2 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [24]:
import pandas as pd

df = pd.DataFrame({"nome":['Rafael','Maria','João'],
                   'idade':[10,30,20]})
df

     nome  idade
0  Rafael     10
1   Maria     30
2    João     20

In [25]:
print(df.idade[1])
#df['idade'][1] mais formas para o mesmo resultado
#df.loc[1,'idade'] mais formas para o mesmo resultado

print(df.idade.min()) # Valor minimo

df.loc[0,'nome'] = 'Rafael2' #Alterando valores
df

30
10

      nome  idade
0  Rafael2     10
1    Maria     30
2     João     20

In [26]:
df['sexo'] = ['M','F','M'] # Add nova coluna
df

      nome  idade sexo
0  Rafael2     10    M
1    Maria     30    F
2     João     20    M

In [27]:
df = df.append({'nome': 'Ana','idade': 15,'sexo': 'F'}, ignore_index=True) # Add uma nova linha de dados
df

AttributeError: 'DataFrame' object has no attribute 'append'